{% extends "portfolio/base.html" %}
{% block content %}
    <h2>{{ acao }} Tecnologia</h2>
    <form method="POST" enctype="multipart/form-data" style="background: transparent; padding: 20px; border: 1px solid #e5e7eb; border-radius: 8px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" style="background: transparent; color: #374151; padding: 10px 20px; border: 1px solid #d1d5db; border-radius: 5px; cursor: pointer;">Guardar</button>
        <a href="{% url 'tecnologias' %}" style="margin-left: 15px; color: #9ca3af; text-decoration: none;">Cancelar</a>
    </form>
{% endblock %}